@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply relative bg-bodyColor text-textColor text-smallFont md480:text-normalFont;
}

.custom_container {
  @apply mx-[1.5rem] max-w-[1120px] xs:mx-[1rem] lg1120:mx-auto xl2048:max-w-[1300px];
}

.section_after_header {
  @apply mt-[6rem] px-[0.75rem];
}
.hero_section {
  @apply mt-[8rem] px-[0.75rem] md480:mt-[10rem];
}
.section {
  @apply px-[1rem] pt-[5rem] pb-[2.5rem];
}
.section_with_bg {
  @apply px-[0.5rem] pt-[2rem] pb-[2.5rem] md480:px-[0.25rem] lg1023:px-[1rem];
}
.flex_between {
  @apply flex justify-between items-center;
}
.flex_col {
  @apply flex flex-col;
}
.flex_center {
  @apply flex justify-center items-center;
}

.title_normal_bold {
  @apply text-titleColor text-normalFont font-bolded;
}
.title_h3 {
  @apply text-titleColor text-h3Font font-semibolded;
}
.title_h2 {
  @apply text-titleColor text-h2Font font-semibolded;
}
.title_h2_bold {
  @apply text-titleColor text-h2Font font-bolded;
}

.spaced {
  @apply tracking-wide;
}

.filled_button {
  @apply px-[1.25rem] py-[0.6rem] rounded-full bg-titleColor text-containerColor tracking-wide;
}
.outline_button {
  @apply px-[1.25rem] py-[0.6rem] rounded-full text-titleColor border-[1.8px] border-titleColor tracking-wide;
}

.bottom_shadow {
  box-shadow: 0 0 10px #efefef;
}
.top_shadow {
  box-shadow: 0 -10px 14px #ffffff;
}
.border_section_top {
  @apply border-t-[1.5px] border-neutral-400/20;
}
